In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import scipy
import statsmodels.api as sm
from scipy import stats

In [41]:
df = pd.read_csv('/Users/seamuswalsh/Flatiron/Course Materials/Phase 2/Phase 2 Project/dsc-phase-2-project-v2-5-main/data/kc_house_data.csv')

In [42]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [43]:
df['address'] = df['address'].astype(str)

In [44]:
df['address'].value_counts()

Avenue, 108 Foothill Blvd, Rancho Cucamonga, California 91730, United States    38
Delridge Way Southwest, Seattle, Washington 98106, United States                24
9th Ave, Nebraska City, Nebraska 68410, United States                           21
South 35th Avenue, Bellevue, Nebraska 68123, United States                      20
A, Leadwood, Missouri 63653, United States                                      17
                                                                                ..
3158 Northeast 83rd Street, Seattle, Washington 98115, United States             1
23007 64th Avenue Southwest, Vashon, Washington 98070, United States             1
12103 Southeast 319th Place, Auburn, Washington 98092, United States             1
9354 48th Avenue South, Seattle, Washington 98118, United States                 1
42909 228th Avenue Southeast, Enumclaw, Washington 98022, United States          1
Name: address, Length: 29560, dtype: int64

In [45]:
#removing all of the non-king county address'
df_new = df[df['address'].str.contains('98001|98002|98003|98004|98005|98006|98007|98008|98009|98010|98011|98013|98014|98015|98019|98022|98023|98024|98025|98027|98028|98029|98030|98031|98032|98033|98034|98035|98038|98039|98040|98041|98042|98045|98047|98050|98051|98052|98053|98054|98055|98056|98057|98058|98059|98062|98063|98064|98065|98068|98070|98071|98072|98073|98074|98075|98077|98083|98092|98093|98101|98102|98103|98104|98105|98106|98107|98108|98109|98111|98112|98114|98115|98116|98117|98118|98119|98121|98122|98124|98125|98126|98131|98132|98133|98134|98136|98138|98144|98145|98146|98148|98154|98155|98158|98160|98161|98164|98166|98168|98171|98174|98177|98178|98188|98198|98199|98224|98288')]

In [46]:
df_new['address'].value_counts()

Delridge Way Southwest, Seattle, Washington 98106, United States            24
Northeast 201st Street, Woodinville, Washington 98072, United States        11
Interlake Avenue North, Seattle, Washington 98103, United States            11
26th Avenue, Seattle, Washington 98122, United States                        9
12006 31st Ave NE, Seattle, Washington 98125, United States                  7
                                                                            ..
3354 Phillips Avenue, Enumclaw, Washington 98022, United States              1
17643 Southeast 192nd Drive, Renton, Washington 98058, United States         1
13124 455th Place Southeast, North Bend, Washington 98045, United States     1
538 Renton Avenue South, Renton, Washington 98057, United States             1
42909 228th Avenue Southeast, Enumclaw, Washington 98022, United States      1
Name: address, Length: 29028, dtype: int64